@font-face {
  font-family: 'league';
  src: url('../fonts/league.ttf');
}

body {
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

#login_menu {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 40vw;
  height: 40vw;
  background: rgba(63, 62, 80, 0.9);
  border: solid 3px #706206;
  box-shadow: 0px 0px 50px rgba(178, 158, 47, 0.8);
  border-radius: 10px;
}

#login_text {
  margin-top: 2vw;
  text-align: center;
  font-family: 'league';
  font-size: 4vw;
  color: #c1aa12;
}

#login_form {
  align: center;
}

#login_form * {
  text-align: left;
  margin-left: 3vw;
}

.login-button {
  float: left;
  margin-top: 1.5vw;
  margin-left: 7vw;
  font-family: 'league';
  font-size: 1.2vw;
  text-align: center;
  width: 8vw;
  height: 2.5vw;
  color: #706206;
  border-radius: 0.2vw;
}

button:hover {
  background-color: #c1aa12;
  border: solid 1px #706206;
  box-shadow: 0px 0px 50px rgba(178, 158, 47, 0.8), 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.register-button {
  float: right;
  margin-top: 1.5vw;
  margin-right: 5vw;
  font-family: 'league';
  font-size: 1.2vw;
  text-align: center;
  width: 8vw;
  height: 2.5vw;
  color: #706206;
  border-radius: 0.2vw;
}


#login_form input {
  padding-left: .5vw;
  margin-top: 1vw;
  font-size: 1.5vw;
  font-family: 'league';
  width: 28vw;
  height: 3vw;
  border: solid 1px #998609;
  color: #998609;
  background-color: #292929;
}

.has-error {
  border: solid 1px red !important;
}
