<!DOCTYPE html>
<head>
  <title>LolTourney|My Profile</title>
</head>
<body>
  <h1>Hi User!</h1><br />
  <label>Your first choice:</label>
  <select>
    <option value="1">top</option>
    <option value="2">jungle</option>
    <option value="3">mid</option>
    <option value="4">adc</option>
    <option value="5">support</option>
  </select>
  <br />
  <label>Your second choice:</label>
  <select>
    <option value="1">top</option>
    <option value="2">jungle</option>
    <option value="3">mid</option>
    <option value="4">adc</option>
    <option value="5">support</option>
  </select>
  <form method="post" action=".">
    {% csrf_token %}
    <p>
      <label for="id_lol_summoner_name">Lol summoner name:</label>
      <input id="id_lol_summoner_name" maxlength="255" value="{{profile.lol_summoner_name}}" name="lol_summoner_name" type="text">

    </p>
    <input type="submit" value="submit"/>
  </form>
</body>
