<!DOCTYPE html>
<head>
  <title>LolTourney|My Profile</title>
</head>
<body>
  <h1>Hi User!</h1><br />
  <label>Your first choice:</label>
  <select>
    <option value="1">top</option>
    <option value="2">jungle</option>
    <option value="3">mid</option>
    <option value="4">adc</option>
    <option value="5">support</option>
  </select>
  <br />
  <label>Your second choice:</label>
  <select>
    <option value="1">top</option>
    <option value="2">jungle</option>
    <option value="3">mid</option>
    <option value="4">adc</option>
    <option value="5">support</option>
  </select>
</body>
