<!DOCTYPE html>
<head>
  <title>LolTourney | Tournaments</title>
</head>
<body>
  <h1>Tournament Home</h1>
  <p>
    <strong>Register for tournament here :</strong><br />
    <input type="text" placeholder="Enter your league of legends username"/>
  </p>
  <br />
  <br />

    Your current tournaments:
  <ul>
    {% for tournament in tournaments %}
    <li>
      {{tournament}}
    </li>
  </ul>
  <form method="post" action=".">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="submit"/>
  </form>
</body>
