<!DOCTYPE html>
<head>
  <title>LolTourney | Tournament 1</title>
</head>
<body>
  <h1>Tournament 1</h1>
  <p>
    Deadline: Monday March 10th 11:59AM
  </p>
  <p>
    Players:
    <ul>
      <li>
        Player 1
      </li>
      <li>
        Player 2
      </li>
      <li>
        Player 3
      </li>
    </ul>
  </p>

  <p>
    Deadline over!
    Deadline: Monday March 10th 11:59AM
  </p>
  <p>
    Teams:
    <ul>
      <li>
        Team 1
        <ul>
          <li>
            <a href="#">Player 1</a>
          </li>
          <li>
            <a href="#">Player 2</a>
          </li>
        </ul>
      </li>
      <li>
        <a href="#">Team 2</a>
      </li>
      <li>
        <a href="#">Team 3</a>
      </li>
    </ul>
  </p>
  <p>
    Extra players: Player X, Player Y
  </p>
</body>
