<!DOCTYPE html>
<head>
  <title>LolTourney | Tournament 1</title>
</head>
<body>
  <a href="{% url 'index' %}">Home</a>

  <h1>Tournament: {{ tournament.tournament_name}}</h1>
  <h3>Key: {{tournament.tournament_key}}</h3>

  <p>
    Players:
    <ul>
      {% for player in tournament.players.all%}
      <li>
        {{player.lol_summoner_name}} {%if player.user == request.user %}<a href="{% url 'remove_user' tournament_id=tournament.id %}">remove me</a>{%endif%}
      </li>
      {%endfor%}
    </ul>
  </p>
  <p>
    Teams not set yet. Come back after deadline!
  </p>
</body>
